@font-face {
    font-family: 'Cormorant' ;
    src: url(../fonts/CormorantGaramond-Bold.ttf);
    font-size:700;
}
@font-face {
    font-family: 'Cormorant-t' ;
    src: url(../fonts/CormorantGaramond-BoldItalic.ttf);
    font-size:700;
}
@font-face {
    font-family: 'Manroipe' ;
    src: url(../fonts/Manrope-Bold.ttf);
    font-size:700;
}
@font-face {
    font-family: 'Manroipe' ;
    src: url(../fonts/Manrope-Regular.ttf);
    font-size:400;
}